In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_boston
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import GridSearchCV
from sklearn import metrics

import warnings
warnings.filterwarnings('ignore')

In [2]:
boston = load_boston()

In [3]:
df = pd.DataFrame(boston.data, columns = boston.feature_names)

In [4]:
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [5]:
df['MEDV'] = boston.target

In [6]:
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [7]:
df.describe()

             CRIM          ZN       INDUS  ...           B       LSTAT        MEDV
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...  356.674032   12.653063   22.532806
std      8.601545   23.322453    6.860353  ...   91.294864    7.141062    9.197104
min      0.006320    0.000000    0.460000  ...    0.320000    1.730000    5.000000
25%      0.082045    0.000000    5.190000  ...  375.377500    6.950000   17.025000
50%      0.256510    0.000000    9.690000  ...  391.440000   11.360000   21.200000
75%      3.677083   12.500000   18.100000  ...  396.225000   16.955000   25.000000
max     88.976200  100.000000   27.740000  ...  396.900000   37.970000   50.000000

[8 rows x 14 columns]

In [8]:
X = df.drop('MEDV', axis = 1)
y = df['MEDV']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 66)

In [10]:
pipe = Pipeline(steps = [('scale', StandardScaler()), ('linreg', LinearRegression())])

In [11]:
param = {'linreg__n_jobs':[1,2,3]}

In [12]:
grid = GridSearchCV(estimator = pipe, param_grid = param, cv = 3, scoring = 'r2')

In [13]:
grid.fit(X_train, y_train)

GridSearchCV(cv=3,
             estimator=Pipeline(steps=[('scale', StandardScaler()),
                                       ('linreg', LinearRegression())]),
             param_grid={'linreg__n_jobs': [1, 2, 3]}, scoring='r2')

In [14]:
grid.score(X_test, y_test)

0.8111288663608667

In [15]:
grid.best_params_

{'linreg__n_jobs': 1}

In [16]:
def ridge_pipe(cv):
    pipe = Pipeline(steps = [('scale', StandardScaler()), ('ridge', Ridge())])
    params = {'ridge__alpha': np.linspace(0, 0.2, 5)}
    grid = GridSearchCV(estimator = pipe, cv = cv, param_grid = params, scoring = 'r2')
    grid.fit(X_train, y_train)
    print(grid.best_params_)
    return grid.score(X_test, y_test)         

ridge_pipe(4)

In [18]:
def lasso_pipe(cv):
    pipe = Pipeline(steps = [('scale', StandardScaler()), ('lasso', Lasso())])
    
    params = {'lasso__alpha': np.linspace(0, 0.2, 5)}
    grid = GridSearchCV(estimator = pipe, cv = cv, param_grid = params, scoring = 'r2')
    grid.fit(X_train, y_train)
    
    print(grid.best_params_)
    return grid.score(X_test, y_test)

lasso_pipe(5)

{'lasso__alpha': 0.05}

0.8133101251641616